@import "./../../../assets/sass/variables";
@import "./../../../assets/sass/animations";


.ProductInfoBlock {
  background: transparent $block-gradient 0 0 no-repeat;
}

.ProductTitle {
  font-size: $large-size;
}

.ProductType {
  font-size: 32px;
  color: $accent-color;
  margin: 0;
  line-height: 48px;
}

.AdditionalText{
  font-size: $medium-large-size;
  line-height: 35px;
  color: $text-dark-color;
  margin: 0 0 20px;
}

.AdditionalInfo {
  color: $accent-color;
  font-size: $regular-size;
  font-weight: $regular;
}

.ProductPrice {
  font-size: 50px;
  font-weight: bold;
  color: #CCCCCC;
  margin: 0;
}

.RedText {
  font-size: $medium-size;
  color: $accent-color;
  font-weight: bold;
}

.ProductOptions {
  display: inline-block;
  img:first-child {
    margin-right: 42px;
  }
}

.OptionsSwitcher {
  text-align: center;
  cursor: pointer;
}

.LeftIndicator {
  background: $accent-color;
  width: 100px;
  height: 9px;
  display: inline-block;
}

.RightIndicator {
  background: $border-light-color;
  width: 100px;
  height: 9px;
  display: inline-block;
}

.PriceBlock {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .ProductSwitcherBlock {
    position: absolute;
    right: 54px;
    top: 50%;
    flex-direction: column;
  }

  .PageContentWrapper {
    display: flex;
    position: relative;
  }

  .ProductPage {
    margin-left: 100px;
  }

  .ProductInfoBlock {
    padding: 84px 76px;
    margin-bottom: 50px;
  }

  .ProductTitle {
    font-size: $xxx-large-size;
    margin: 15px 0 42px;
    line-height: 110px;
  }

  .ProductSwitcherBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    a {
      margin-bottom: 36px;
    }
  }
  .PriceBlock {
    padding: 76px 66px 76px 80px;
    margin-right: 355px;
  }

  .ProductOptions {
    padding-top:50px;
  }

}


@media screen and (min-width: 1900px) {
  .ProductBlock {
    position: absolute;
    right: 250px;
    top: 98px;
  }
}

@media screen and (max-width: 480px) {
  .ProductBlock {
    img {
      max-width: 200px;
    }
  }
  .ProductSwitcherBlock {
    display: flex;
    flex-direction: row;
    text-align: center;
    a {
      margin: 20px;
    }
  }

}
