@import "./../../../assets/sass/variables";
@import "./../../../assets/sass/animations";


.ProductInfoBlock {
  background: transparent $block-gradient 0 0 no-repeat;
}

.ProductTitle {
  font-size: $large-size;
}

.ProductType {
  font-size: 32px;
  color: $accent-color;
  margin: 0;
  line-height: 48px;
}

.AdditionalText{
  font-size: $medium-large-size;
  line-height: 35px;
  color: $text-dark-color;
  margin: 0 0 20px;
}

.AdditionalInfo {
  color: $accent-color;
  font-size: $regular-size;
  font-weight: $regular;
}

.ProductPrice {
  font-size: 50px;
  font-weight: bold;
  color: #CCCCCC;
  margin: 0;
}

.RedText {
  font-size: $medium-size;
  color: $accent-color;
  font-weight: bold;
}

.ProductOptions {
  display: inline-block;
  img:first-child {
    margin-right: 42px;
  }
}

.OptionsSwitcher {
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 200px;
  margin: 10px auto;
}

.IndicatorBase {
  background: $border-light-color;
  width: 200px;
  height: 9px;
  display: block;
}

.Indicator {
  background: $accent-color;
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0;
  top: 0;
  transition: left .5s;
}

.PriceBlock {
  display: inline-block;
}

@media screen and (min-width: $medium-screen) {
  .ProductSwitcherBlock {
    position: absolute;
    right: 54px;
    top: 50%;
    flex-direction: column;
    display: flex;
    text-align: center;
    a {
      margin-bottom: 36px;
    }
  }

  .PageContentWrapper {
    display: flex;
    position: relative;
  }

  .ProductPage {
    margin-left: 100px;
    overflow: hidden;
  }

  .ProductInfoBlock {
    padding: 84px 76px;
    margin-bottom: 50px;
  }

  .ProductTitle {
    font-size: $xxx-large-size;
    margin: 15px 0 42px;
    line-height: 110px;
  }

  .PriceBlock {
    padding: 76px 66px 76px 80px;
    margin-right: 355px;
  }

  .ProductOptions {
    padding-top:50px;
  }

  .ProductOptionImage {
    transition: opacity .5s;
  }

}
@media screen and (min-width: $large-screen) {
  .ProductBlock {
    width: 300px;
    max-width: 300px;
    position: relative;
    img {
      max-width: 100%;
      position: absolute;
      transition: transform .5s ease-in, opacity .5s ease-in;

      &.hidden {
        transform: translateX(400px);
        opacity: 0;
      }
    }
  }
}

@media screen and (min-width: $extra-large-screen) {
  .ProductBlock {
    position: absolute;
    right: 250px;
    top: 98px;
  }
}

@media screen and (max-width: $small-screen) {
  .ProductBlock {
    img {
      max-width: 200px;
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .ProductSwitcherBlock {
    display: none;
    flex-direction: row;
    text-align: center;
    a {
      margin: 20px;
    }
  }
}

@media screen and (max-width: $large-screen) {
  .ProductBlock {
    .hidden {
      display: none;
    }
  }
}
