@import '../../../assets/sass/variables';
@import  '../../../assets/sass/animations';
@import './../Authorization';

.SignUpForm {
  box-shadow: 0 3px 6px $shadow-color;
  border: 1px solid $border-light-color;
  background: $main-light-color;
  color: $main-dark-color;
  padding: 23px 54px 53px 54px;
}

.SigUpFormWrapper {
  width: 510px;
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .SignUpForm {
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .SigUpFormWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: formSlideIn;
    animation-duration: 1s;
  }
}

