@import "./../../../assets/sass/variables";
@import "./../../../assets/sass/animations";

.IntroPage {
  position: relative;
  background: $background-gradient 0 0 no-repeat padding-box;
  text-align: center;
  margin: 0 100px;
  cursor: pointer;
  animation: pageSqueeze ease-out;
  animation-duration: 2s;
  @media screen and (max-width: $medium-screen) {
      margin: 0;
    }
}

.IntroPageText {
  font-size: $medium-large-size;
  font-weight: $medium-bold;
  position: relative;
  bottom: 200px;
  min-width: 100%;
  @media screen and (min-width: $medium-screen) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 370px;
    animation: textSlide ease-out;
    animation-duration: 2s;
  }
}

.YearInfo {
  font-size: $large-size;
  font-weight: bold;
  .odometer.odometer-auto-theme {
    font-family: $basic-fonts
  }
  @media screen and (min-width: $medium-screen) {
    font-size: $extra-large-size;
    line-height: 68px;
    animation: odometerSlideIn ease-out;
    animation-duration: 2s;
    .odometer-digit {
      margin: 0 20px;
    }
  }
  @media screen and (max-width: $medium-screen) {
    margin-top: -100px;
  }
}

.AppleLogo {
  margin-top: 40px;
  @media screen and (min-width: $medium-screen) {
    margin-top: 196px;
    animation: logoExpansion ease-out;
    animation-duration: 2s;

  }
}




