@import "./../../../assets/sass/variables";
@import "./../../../assets/sass/animations";

.IntroPage {
  position: relative;
  background: $background-gradient 0 0 no-repeat padding-box;
  text-align: center;
  margin: 0 100px;
  animation: pageSqueeze ease-out;
  animation-duration: 2s;
  cursor: pointer;
}

.IntroPageText {
  position: absolute;
  font-size: $medium-large-size;
  left: 50%;
  transform: translateX(-50%);
  top: 370px;
  animation: textSlide ease-out;
  animation-duration: 2s;
}

.YearInfo {
  font-size: $extra-large-size;
  line-height: 68px;
  font-weight: bold;
  animation: odometerSlideIn ease-out;
  animation-duration: 2s;
  .odometer-digit {
    margin: 0 20px;
  }
  .odometer.odometer-auto-theme {
    font-family: $basic-fonts
  }
}

.AppleLogo {
  margin-top: 196px;
  animation: logoExpansion ease-out;
  animation-duration: 2s;
}




