@import "./../../../assets/sass/variables";
@import "./../../../assets/sass/animations";

.IntroPage {
  position: relative;
  background: $background-gradient 0 0 no-repeat padding-box;
  text-align: center;
  margin: 0 100px;
  cursor: pointer;
}

.IntroPageText {
  font-size: $medium-large-size;
}

.YearInfo {
  font-size: $large-size;
  font-weight: bold;
}

@media screen and (max-width: $medium-screen) {
  .IntroPage {
    margin: 0;
  }
  .AppleLogo {
    margin-top: 20px;
  }
}

@media screen and (min-width: $medium-screen) {
  .IntroPage {
    animation: pageSqueeze ease-out;
    animation-duration: 2s;
  }
  .YearInfo {
    font-size: $extra-large-size;
    line-height: 68px;
    animation: odometerSlideIn ease-out;
    animation-duration: 2s;
    .odometer-digit {
      margin: 0 20px;
    }
    .odometer.odometer-auto-theme {
      font-family: $basic-fonts
    }
  }
  .IntroPageText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 370px;
    animation: textSlide ease-out;
    animation-duration: 2s;
  }

  .AppleLogo {
    margin-top: 196px;
    animation: logoExpansion ease-out;
    animation-duration: 2s;
  }

}



