@import "./../../assets/sass/variables";

.AuthFormTitle {
  text-align: center;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $border-color;
  letter-spacing: 0;
  padding: 16px 32px;
}

label {
  display: block;
  margin-bottom: 6px;
}

.SubmitButton {
  background: $main-dark-color;
  color: $main-light-color;
  width: 174px;
  font-size: $regular-size;
  height: 54px;
  border: none;
  display: block;
  margin: 14px auto;
}

.FormGroup {
  min-height: 100px;
}

.InputError {
  font-size: $small-size;
  color: $accent-color;
}

a {
  text-decoration: none;
  color: $theme-color;
  cursor: pointer;
}

.AuthForm {
  box-shadow: 0 3px 6px $shadow-color;
  border: 1px solid $border-light-color;
  background: $main-light-color;
  color: $main-dark-color;
  padding: 23px 54px 53px 54px;
}

.AuthFormWrapper {
  width: 510px;
  max-width: 100%;
}

@media screen and (max-width: $small-screen) {
  .AuthForm {
    padding: 10px;
  }
}

@media screen and (min-width: $small-screen) {
  .AuthFormWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: formSlideIn;
    animation-duration: 1s;
  }
}

