.IntroPageContent {
  position: relative;
  background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(90,200,250,1) 100%) no-repeat;
  text-align: center;
  margin: 0 100px;
  animation: pageSqueeze;
  animation-duration: 3s;
}

.IntroPageText {
  position: absolute;
  font-size: 25px;
  left: 50%;
  transform: translateX(-50%);
  top: 370px;
}

h2 {
  font-size: 30px;
}

.AppleLogo {
  margin-top: 196px;
  animation: logoExpansion;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}


@keyframes pageSqueeze {
  from {margin: 0  0}
  50% {margin: 0 0}
  to {margin: 0 100px}
}


@keyframes logoExpansion {
  from {width: 0; opacity: 0.2}
  50% {width: 0; opacity: 0.2}
  to {width: 100%; opacity: 1}
}
