@import '../../../assets/sass/variables';
@import  '../../../assets/sass/animations';
@import './../Authorization';

.SignInForm {
  box-shadow: 0 3px 6px $shadow-color;
  border: 1px solid $border-light-color;
  background: $main-light-color;
  color: $main-dark-color;
  padding: 23px 54px 53px 54px;
}

.SigInFormWrapper {
  width: 510px;
  max-width: 100%;
  animation: formSlideIn;
  animation-duration: 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}





