.HomePageContent {
  background: transparent linear-gradient(90deg, #F2F2F2 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
  text-align: center;
  padding-top: 30px;
  margin: 0 100px;
}

a {
  font-size: 20px;
}

.ProductIcons {
  margin: 138px 0 100px;
  display: inline-block;
  a {
    margin: 0 25px;
  }
}
