@import '../../assets/sass/variables';
@import  '../../assets/sass/animations';

.Header {
  background: $main-dark-color;
  animation: headerExpansion;
  animation-duration: 2s;
  .Navigation {
    display: none;
  }
  .Logo {
   margin: 0 auto;
   position: relative;
    animation: logoSlideIn;
    animation-duration: 2s;
  }
}

.HeaderWithNav {
  position: relative;
  background: $main-light-color;
  height: 100px;
}

.Navigation {
  padding: 10px 87px 10px 0;
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
}

.NavItem {
  margin-right: 54px;
  padding: 10px 0;
  font-size: $medium;
}

.NavLink {
  color: $border-color;
}

.NavBtn {
  background: $theme-color;
  border-radius: 23px;
  border: 0 solid $theme-color;
  padding: 10px 30px;
  .NavLink {
    color: $main-light-color;
  }
}

.Logo {
  background: $main-dark-color;
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
}

.LogoImage{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


