@import '../../assets/sass/variables';
@import  '../../assets/sass/animations';

.Header {
  background: $main-dark-color;
  animation: headerExpansion;
  animation-duration: 2s;
  z-index: 100;
  .Navigation {
    display: none;
  }
  .Logo {
    margin: 0 auto;
    position: relative;
    animation: logoSlideIn;
    animation-duration: 2s;
  }
}

.HeaderWithNav {
  position: relative;
  background: $main-light-color;
  height: 100px;
  z-index: 100;
}

.Navigation {
  padding: 10px 87px 10px 0;
  overflow: hidden;
  @media screen and (max-width: $medium-screen) {
    &.hidden {
      display: none;
    }
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: $medium-screen) {
      display: block;
      margin:0;
      padding: 10px;
    }
  }
  @media screen and (max-width: $medium-screen) {
    padding: 0;
    position: relative;
    width: 100%;
    top: 100px;
    background: $main-dark-color;
    z-index: 10;
  }
  @media screen and (max-width: $large-screen) {
    padding-right: 20px;
  }
}

.NavItem {
  margin-right: 54px;
  padding: 10px 0;
  font-size: $medium-size;
}

.NavLink {
  color: $border-color;
}

.NavLinkActive {
  color: $main-dark-color;
  font-weight: $bold;
}

.NavBtn {
  background: $theme-color;
  border-radius: 23px;
  border: 0 solid $theme-color;
  padding: 10px 30px;
  .NavLink {
    color: $main-light-color;
  }
}

.Logo {
  background: $main-dark-color;
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
}

.LogoImage{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Toggle {
  display: none;
}

@media screen and (max-width: $medium-screen) {
  .Toggle {
    display: block;
    cursor: pointer;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 20px;

    hr {
      background: $main-dark-color;
      margin-top: 2px;
      height: 2px;
    }
  }
}
