.Header {
  background: black;
  animation: headerSlideIn;
  animation-duration: 3s;
  nav {
    display: none;
  }
  .Logo {
   margin: 0 auto;
   position: relative;
    animation: logoSlideIn;
    animation-duration: 3s;
  }
}




@keyframes headerSlideIn {
  from { height: 10px; }
  50% {height: 10px}
  to   { height: 100px; }
}

@keyframes logoSlideIn {
  from { top: -150px; }
  50% {top: -100px}
  to   { top: 0; }
}

.HeaderWithNav {
  position: relative;
  background: white;
  height: 100px;
    a {
      color: black;
    }
}

nav {
  padding: 10px 87px 10px 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin-right: 54px;
  color: #707070;
  font-size: 20px;
  padding: 10px 0;
}

li:last-child {
  padding: 0;
}

button {
  background: #5AC8FA;
  border-radius: 23px;
  border: 0 solid #5AC8FA;
  width: 156px;
  padding: 10px 0;
  color: white;
}

.Logo {
  background: black;
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
}

.apple{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

