@import '../../../assets/sass/variables';
@import  '../../../assets/sass/animations';

.HomePage {
  background: transparent $block-gradient 0 0 no-repeat padding-box;
  text-align: center;
  margin: 0 100px;
  position: relative;
  a {
    font-size: $medium-size;
    font-weight: $medium-bold;
  }
  h1 {
    position: absolute;
    text-align: center;
    font-weight: bold;
    width: 100%;
    top: 300px;
    animation: titleSlideDown ease-out;
    animation-duration: 2s;
  }
}

.HomePageText {
  margin-top: 60px;
  animation: textSlideUp ease-out;
  animation-duration: 2s;
}

.ProductIcons {
  margin: 138px 0 100px;
  display: inline-block;
  a {
    margin: 0 25px;
    animation: iconsShrink ease-out;
    animation-duration: 2s;
  }
}

.AppleLogoHome {
  margin-top: 196px
}

