@import '../../../assets/sass/variables';
@import  '../../../assets/sass/animations';

.HomePage {
  background: transparent $block-gradient 0 0 no-repeat padding-box;
  text-align: center;
  position: relative;
  a {
    font-size: $medium-size;
    font-weight: $medium-bold;
  }
  h1 {
    font-size: $large-size;
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
}

.HomePageText {
  margin-top: 60px;
  animation: textSlideUp ease-out;
  animation-duration: 2s;
}

.ProductIcons {
  margin: 20px 0;
  display: inline-block;
  a {
    margin: 0 25px;
  }
}

@media screen and (min-width: $medium-screen) {
  .HomePage {
    margin: 0 100px;
  }
  h1 {
    position: absolute;
    top: 300px;
    animation: titleSlideDown ease-out;
    animation-duration: 2s;
    font-size: $xx-large-size;
  }
  .AppleLogoHome {
    margin-top: 196px
  }
  .ProductIcons {
    margin: 138px 0 100px;
    a {
      animation: iconsShrink ease-out;
      animation-duration: 2s;
    }
  }
}

