@import "assets/sass/variables";
@import "assets/sass/router-animation";

.AppGradientWrapper {
  background: $background-gradient no-repeat;
  background-size: 100% 555px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.TransitionWrapper {
  position: absolute;
  width: 100%;
}
