@import "../node_modules/normalize.scss/normalize";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "./assets/sass/variables";

html {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  overflow: auto;
}
body {
  margin: 0;
  font-family: $basic-fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $regular;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: $xx-large;
}

h3 {
  font-size: $large;
}

.TextRight {
  text-align: right;
}

.TextLeft {
  text-align: right;
}

.TextStandardSize {
  font-size: $regular;
}
