@import "../node_modules/normalize.scss/normalize";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  overflow: auto;
}
body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 79px;
}

h3 {
  font-size: 36px;
}

.TextRight {
  text-align: right;
}

.TextLeft {
  text-align: right;
}

.AuthFormTitle {
  text-align: center;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #707070;
  letter-spacing: 0;
  padding: 16px 32px;
}

label {
  display: block;
  margin-bottom: 6px;
}

form {
  margin: 0 auto;
}

.SubmitButton {
  background: black;
  color: white;
  width: 174px;
  font-size: 14px;
  height: 54px;
  border: none;
  display: block;
  margin: 14px auto;
}

.FormGroup {
  min-height: 100px;
}

.InputError {
  font-size: 12px;
  color: red;
}

a {
  color: #5AC8FA;
  cursor: pointer;
}
