@import "./../../../../assets/sass/variables";
@import "./../../../../assets/sass/animations";

.ProductPageContent {
  margin-left: 100px;
}

.ProductInfoBlock {
  background: transparent $block-gradient 0 0 no-repeat;
  padding: 76px;
  margin-bottom: 50px;
}

.ProductTitle {
  font-size: $xxx-large;
  margin-top: 0;
}

.ProductType {
  font-size: 32px;
  color: $accent-color;
}

.AdditionalText{
  font-size: $medium-large;
  line-height: 35px;
  color: $text-dark-color;
}

.AdditionalInfo {
  color: $accent-color;
  font-size: $regular;
}

.PriceBlock {
  padding: 76px;
  display: inline-block;
  margin-right: 355px;
}

.ProductPrice {
  font-size: 50px;
  font-weight: bold;
  color: #CCCCCC;
  margin: 0;
}

.RedText {
  font-size: $medium;
  color: $accent-color;
  font-weight: bold;
}

.ProductOptions {
  display: inline-block;
}

.RedLine {
  background: $accent-color;
  width: 100px;
  height: 9px;
  display: inline-block;
}

.WhiteLine {
  background: $main-light-color;
  width: 100px;
  height: 9px;
  display: inline-block;
}

.ProductBlock {
  position: absolute;
  right: 280px;
  top: 200px;
}

.PageContentWrapper {
  display: flex;
}

.ProductSwitcherBlock {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 54px;
  text-align: center;
  top: 50%;
    a {
    margin-bottom: 36px;
  }
}
