@import './variables';

@media screen and (max-width: $medium-screen) {
 .fade-exit-active, .fade-exit  {
    display: none;
  }
  .fade-enter, .slidedown-enter, {
    display: block;
  }
}

@media screen and (min-width: $medium-screen) {
  .fade-enter {
    opacity: 0;
    transition: opacity 1.5s;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1.5s;
  }
  .fade-exit {
    opacity: 1;
    transition: opacity 1.5s;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 1.5s;
  }

  .slidedown-enter {
    transform: translateY(-100%);
    transition: transform 1s ease-in;
  }

  .slidedown-enter-active {
    transform: translateY(0);
  }

  .slidedown-exit {
    opacity: 1;
    transition: opacity 1.5s;
  }

  .slidedown-exit-active {
    opacity: 0;
  }

}
