.fade-enter {
  .ContentWrapper {
    opacity: 0;
  }
}
.fade-enter-active {
  .ContentWrapper {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
  }
}
.fade-exit {
  .ContentWrapper {
    opacity: 1;
  }
}
.fade-exit-active {
  .ContentWrapper {
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
  }
}
