/* COLORS. */
$main-dark-color: #000;
$main-light-color: #fff;
$theme-color: #5AC8FA;
$text-light-color: #CCCCCC;
$text-dark-color: #999999;
$border-color: #707070;
$border-light-color: #f2f2f2;
$shadow-color: #00000029;
$accent-color: #FF3B30;
//$background-gradient:  linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(90,200,250,1) 100%);
$background-gradient: linear-gradient(180deg, #5AC8FA 0%, #FFFFFF00 100%);
$block-gradient: linear-gradient(90deg, #F2F2F2 0%, #FFFFFF00 100%);


/* FONT-WEIGHT. */
$regular: 400;
$medium-bold: 500;
$semi-bold: 600;
$bold: 700;

/* FONT-FAMILY. */
$basic-fonts: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

/* FONT-SIZES. */
$small-size: 12px;
$regular-size: 14px;
$medium-size: 20px;
$medium-large-size: 25px;
$large-size: 36px;
$extra-large-size: 62px;
$xx-large-size: 79px;
$xxx-large-size: 100px;
